body{
    background:navy;
    font-family: 'Times New Roman', Times, serif;
}
.menu{
    text-align: center;
    margin-top: 50px;
}
li{
    /* padding-right: 40px; */
    display: inline;
    transition: 0.3 ease;
}
li:hover{
    transform: scale(2);
}
a{
    color:white;
    padding: 15px;
    text-decoration:none;
}
a:hover{
    /* border-top: 2px solid rgb(86, 5, 5); */
    color: rgb(100, 97, 97);
    /* border-bottom: 2px solid black; */
}
h1{
    font-size: 30px;
    padding: 15px;
    font-style: bold;
    text-align: center;
    color: white;   
}
h1:hover{
    transform: scale(1.2);
    color: bisque;
}